
$black:#0B0B0B;
$white:#fff;
$yellow:#FFD400;
$soft-neutral:#2B2B2B;
$bright-yellow: #ffeb3b;
$pure-yellow: #ffff00;
$bold-yellow: #e6e600;

$charcoal-black:#0a0a0a;
$soft-gray:#e9e9e9;
$deep-black:#111;

// Breakpoints
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1200px;
