

.basic-button{
    // background-color: $yellow-brighter; /* Koyu ama aşırı koyu değil, daha hafif siyah */
    background-color: $white;
    color: $gray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    padding: .1rem .8rem; /* Buton boyutu */
    border: none; /* Sarı kenarlık */
    width: 130px;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    &:hover {
        transform: scale(1.1); /* Hafif büyüme efekti */
    }

    &:active {
        background-color: darken($yellow-brighter, 15%); /* Tıklama sırasında daha koyu sarı */
        transform: scale(1.02); /* Hafif küçülme efekti */
    }
}

.basic-button-gradient{
    background: linear-gradient(90deg, $yellow-light, $yellow-medium, $black-dark);
    background-size: 300% 300%;
    animation: basicButtonAnimation 4s infinite alternate ease-in-out;
    color: $white;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    // border: 2px solid $yellow-border;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background: linear-gradient(90deg, $yellow-medium, $yellow-light, $black-dark);
        border-color: $yellow-dark;
        transform: scale(1.05);
    }

}

.primary-button{
    border: none;
    background-color:$yellow-dark; /* Düz renk kullanıldı */
    // animation: buttonAnimation 2s infinite alternate ease-in-out;
    transition: all 0.3s ease;
    color: $white;
    border-radius: 2rem;
    padding: .5rem .7rem;
    cursor: pointer;
    position: relative;

    &:hover {
        background-color: $yellow-light; /* Hover durumunda açık sarı */
        box-shadow: 0 0 20px $yellow-border, 0 0 40px $yellow-light; /* Belirgin ışık efekti */
        transform: scale(1.05); /* Buton hafifçe büyür */
    }

    /* Hover sonrasındaki aktif buton stili */
    &:active {
        background-color: $yellow-dark; /* Tıklanırsa koyu sarı */
        box-shadow: 0 0 10px $yellow-dark, 0 0 20px $yellow-light; /* Işık efekti daha belirgin */
        transform: scale(1.02); /* Hafif küçülme efekti */
    }

}

@keyframes buttonAnimation {
    0% { box-shadow: 0 0 5px $yellow-dark; }
    50% { box-shadow: 0 0 20px $yellow-light; }
    100% { box-shadow: 0 0 5px $yellow-light; }
}


@keyframes basicButtonAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}