@mixin flex($display:flex, $align:center, $justify:center, $direction:row, $wrap:nowrap, $gap:2rem){
    display: $display;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
    flex-wrap: $wrap;
    gap: $gap;
}


@mixin section($padding:2rem 2rem, $margin:0 auto, $overflow: hidden) {
    padding: $padding;
    margin: $margin;
    overflow: $overflow;
}

@mixin section-height($height:auto, $min-height:auto){
  height: $height;
  min-height: $min-height;
}
  
@mixin section-width($width:100%, $max-width:auto){
  width: $width;
  max-width: $max-width;
}


@mixin responsive($size) {
  @if $size == mobile {
      @media (max-width: 480px) { @content; }
  }
  @else if $size == tablet {
      @media (max-width: 768px) { @content; }
  }
  @else if $size == desktop {
      @media (max-width: 1024px) { @content; }
  }
}


