body{
    background: $gray;
    color:$white;
    font-family: $font;
    font-size: $font-size;
}

.navbar{
    @include section();
    @include section-height($height:5rem);
    @include section-width();
    background: $gray;
    position: sticky;
    top: 0;
    z-index: 3;

    @include responsive($size:tablet){
        height: 10rem;
    }

    .navMenu{
        @include flex($justify:space-between);
        @include responsive($size:tablet){
            justify-content: center;
            font-size: 1rem;
            flex-direction: column;
        }
    
        .navMenuItems{
            @include flex();
    
            .navMenuItem{
                text-transform: uppercase;
                cursor: pointer;
                padding-bottom: .5rem;
                border-bottom: 3px solid transparent;
    
                &:hover {
                    color: $yellow;
                    padding-bottom: .5rem;
                    border-bottom: 3px solid $yellow;
                  }
    
                  &.active{
                    color:$yellow;
                    padding-bottom: .5rem;
                    border-bottom: 3px solid $yellow;
                  }
            }
    
            
        }
    
        .rightMenu{
            @include flex();

           .mode{
            @include flex($gap:1.5rem);
            
           }
    
            .links{
                @include flex($gap:.7rem);

                .link{
                    width: 2rem;
                    height: 2rem;
                }
            }
           
        }
    
       
    }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(-50px); /* Sol kısımdan kayarak gelme efekti */
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideUp {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  

#home{
    @include flex();
    @include section($padding:2rem 5rem);
    @include section-height($min-height: calc(100vh - 5rem));
    @include section-width($width:100%);

    .homeContent{
        @include section-width($width:100%);
        @include responsive($size:tablet){
            flex-direction: column;
        }
                  
            & h2{
                animation: fadeIn 3s ease-out forwards;
                @include responsive($size:desktop){
                font-size: 2.5rem;
                }
            }

            & p{
                animation: fadeIn 3s ease-out forwards;
                @include responsive($size:desktop){
                    font-size: 1.4rem;
                }
            }

            & span{
                color: $yellow;
            }
       
        button{
            margin-top: 50px;
           
        }
    }
}

#about{
    @include section($padding:2rem 5rem);
    @include section-height($min-height: calc(100vh - 5rem));
    @include section-width();
    text-align: center;

    .container{
        @include flex($align:baseline);
        @include section($padding:2rem 5rem);
        @include responsive($size:mobile){
                flex-direction: column;
                align-items: center;
        }
        @include responsive($size:tablet){
                flex-direction: column;
                align-items: center;
        }

        .details{
            @include flex($gap:2rem, $direction:column);

        & button{
            margin-top: 2rem;
        }
        
        .detail{
            @include flex($direction:column,$gap:1rem);
    
            .detail-header{
            // display: inline-block; /* sadece yazı kadar çizgi */
            display: block;
            width: 300px; 
            border-bottom: 3px solid $yellow;
            }

            & span {
                color: $silver;
                font-style: italic;
            }
        }

        }

        .about-text{
            @include flex($gap:2rem, $direction:column);
            text-align: center;
            width: 60%;
            padding-top: 3rem;
            @include responsive($size:mobile){
            width: 100vw;
        }
        @include responsive($size:tablet){
            width: 100vw;
        }
       
            p{
                width: 60%; 
        }
        }

        }
        
        .skills{
            @include flex($direction:column);
            margin: 3rem auto;

            & > div {
                cursor: default;
            }

            .allskills{
                @include flex($wrap:wrap);
                width: 60%;
                .skill{
                    @include flex($gap:.5rem);
                    border: 1px solid $light-gray;
                    padding: .5rem .7rem;
                    
                    & img{
                        width: 2rem;
                        height: 2rem;
                    }

                    &:hover{
                        transition:all 0.5s ease-in-out ;
                        box-shadow: 0px 0px 10px rgba(255, 255, 0, 0.5);
                    }
                }
            }

        }
   
}

#projects{
    @include section($padding:2rem 5rem);
    @include section-height($min-height: calc(100vh - 5rem));
    @include section-width();

    .container{
        @include flex($direction:column);

        .allprojects{
            @include flex($wrap:wrap);

            .project{
                width: 400px; 
                height: 400px; 
                padding: 1rem; 
                border: 2px solid $light-gray;
                @include flex($direction:column, $gap:2rem);
                text-align: center;
                overflow: hidden; 
                position: relative;

                & img{
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: cover;
                    transition: opacity 0.3s ease-in-out;
                }

                & .project-website{
                    position: absolute;
                    bottom: 250px;
                    left: 50%;
                    transform: translateX(-50%);
                    // background-color: rgba(255, 255, 0, 0.8); // Hafif şeffaf sarı buton
                    // color: black;
                    color: $white;
                    border-bottom: 3px solid $yellow;
                    padding: 0.5rem 1rem;
                    font-size: 14px;
                    font-weight: bold;
                    text-decoration: none;
                    opacity: 0; // Başlangıçta görünmez
                    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

                    &:hover{
                        font-size: 16px;
                        font-weight: bolder;
                        transition: all ease-in .2s;
                    }
                }
                & .project-link {
                    position: absolute;
                    bottom: 200px;
                    left: 50%;
                    transform: translateX(-50%);
                    // background-color: rgba(255, 255, 0, 0.8); // Hafif şeffaf sarı buton
                    // color: black;
                    color: $white;
                    border-bottom: 3px solid $yellow;
                    padding: 0.5rem 1rem;
                    font-size: 14px;
                    font-weight: bold;
                    text-decoration: none;
                    opacity: 0; // Başlangıçta görünmez
                    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

                    &:hover{
                        font-size: 16px;
                        font-weight: bolder;
                        transition: all ease-in .2s;
                    }
                }

                    &:hover {

                        img {
                            opacity: .5; // Hafif koyulaştır
                        }

                        .project-link {
                            opacity: 1; // Linki görünür yap
                            transform: translateX(-50%) translateY(-5px); // Hafif yukarı kaldır
                        }
                        .project-website {
                            opacity: 1; // Linki görünür yap
                            transform: translateX(-50%) translateY(-5px); // Hafif yukarı kaldır
                        }
                }

                & p{
                    white-space: nowrap; 
                    text-overflow: ellipsis; // Taşan metni "..." yapar
                    overflow: hidden;
                    width: 100%;
                }
            }
        }
    }
}

#contact{
    @include section($padding:2rem 5rem);
    @include section-height($min-height: calc(100vh - 5rem));
    @include section-width();

    .container{
        @include flex($direction:column );
        line-height: 2rem;

        & p{
            text-align: center;
        }
       
        .form{
            @include flex($direction:column, $gap:0);
            width: 100%;
            .name , .email , .msg{
                width: 45%;
                @include responsive($size:mobile){
                width: 100%;
                }
                @include responsive($size:tablet){
                width: 100%;
                }
                font-size: medium;
                margin: 0.5rem;
                padding: 0.5rem 1rem;
                color: white;
                border: none;
                border-radius: 0.5rem;
                background: rgb(40, 40, 40);
            }
        }

        .links{
            @include flex($gap:.5rem);
            .link{
                width: 2rem;
                height: 2rem;
            }
        }
    }
}

.footer{
    @include flex();
    @include section();
    @include section-height($height:4rem);
    background:$light-gray;
    font-size: .8rem;
}



