
$gray:#1e1e1e;
$light-gray:#282828;
$yellow:#ffff00;
$white:#fff;
$black:#000;
$silver:#C0C0C0;
$yellow-light: rgba(255, 255, 0, 0.1);
$yellow-medium: rgba(255, 255, 0, 0.3);
$yellow-dark: rgba(255, 255, 0, 0.5);
$yellow-bright: rgba(255, 255, 0, 1);
$yellow-brighter:rgba(255, 255, 0, .6);
$yellow-border: rgba(255, 255, 0, 0.2);
$yellow-hover: #ffd700; /* Sarının biraz daha koyu tonu */
$black-dark: #333333;


