@charset "UTF-8";
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Sarının biraz daha koyu tonu */
@keyframes buttonAnimation {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 255, 0, 0.1);
  }
  100% {
    box-shadow: 0 0 5px rgba(255, 255, 0, 0.1);
  }
}
.contact-button {
  border: none;
  background-color: rgba(255, 255, 0, 0.5); /* Düz renk kullanıldı */
  animation: buttonAnimation 2s infinite alternate ease-in-out;
  transition: all 0.3s ease;
  color: #fff;
  border-radius: 2rem;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
  position: relative;
  /* Hover sonrasındaki aktif buton stili */
}
.contact-button:hover {
  background-color: rgba(255, 255, 0, 0.1); /* Hover durumunda açık sarı */
  box-shadow: 0 0 20px rgba(255, 255, 0, 0.2), 0 0 40px rgba(255, 255, 0, 0.1); /* Belirgin ışık efekti */
  transform: scale(1.05); /* Buton hafifçe büyür */
}
.contact-button:active {
  background-color: rgba(255, 255, 0, 0.5); /* Tıklanırsa koyu sarı */
  box-shadow: 0 0 10px rgba(255, 255, 0, 0.5), 0 0 20px rgba(255, 255, 0, 0.1); /* Işık efekti daha belirgin */
  transform: scale(1.02); /* Hafif küçülme efekti */
}

@keyframes basicButtonAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.basic-button {
  background: linear-gradient(90deg, rgba(255, 255, 0, 0.1), rgba(255, 255, 0, 0.3), #333333);
  background-size: 300% 300%;
  animation: basicButtonAnimation 4s infinite alternate ease-in-out;
  color: #fff;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid rgba(255, 255, 0, 0.2);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.basic-button:hover {
  background: linear-gradient(90deg, rgba(255, 255, 0, 0.3), rgba(255, 255, 0, 0.1), #333333);
  border-color: rgba(255, 255, 0, 0.5);
  transform: scale(1.05);
}

.send-button {
  background-color: rgba(255, 255, 0, 0.6); /* Koyu ama aşırı koyu değil, daha hafif siyah */
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 0.3rem 0.7rem; /* Buton boyutu */
  font-weight: 600;
  border: none; /* Sarı kenarlık */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.send-button:hover {
  transform: scale(1.1); /* Hafif büyüme efekti */
}
.send-button:active {
  background-color: rgba(178.5, 178.5, 0, 0.6); /* Tıklama sırasında daha koyu sarı */
  transform: scale(1.02); /* Hafif küçülme efekti */
}

body {
  background: #1e1e1e;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.navbar {
  padding: 2rem 2rem;
  margin: 0 auto;
  overflow: hidden;
  height: 5rem;
  min-height: auto;
  width: 100%;
  max-width: auto;
  background: #1e1e1e;
  position: sticky;
  top: 0;
  z-index: 3;
}
.navbar .navMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem;
}
.navbar .navMenu .navMenuItems {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem;
}
.navbar .navMenu .navMenuItems .navMenuItem {
  text-transform: uppercase;
  cursor: pointer;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid transparent;
}
.navbar .navMenu .navMenuItems .navMenuItem:hover {
  color: #ffff00;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #ffff00;
}
.navbar .navMenu .navMenuItems .navMenuItem.active {
  color: #ffff00;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #ffff00;
}
.navbar .navMenu .rightMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem;
}
.navbar .navMenu .rightMenu .links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.7rem;
}
.navbar .navMenu .rightMenu .links .link {
  width: 2rem;
  height: 2rem;
}

#home {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem;
  padding: 2rem 5rem;
  margin: 0 auto;
  overflow: hidden;
  height: auto;
  min-height: calc(100vh - 5rem);
  width: 100%;
  max-width: auto;
}
#home .homeContent span {
  color: #ffff00;
}

#about {
  padding: 2rem 5rem;
  margin: 0 auto;
  overflow: hidden;
  height: auto;
  min-height: calc(100vh - 5rem);
  width: 100%;
  max-width: auto;
}
#about .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2rem;
}
#about .container .details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  text-align: center;
}
#about .container .details .education {
  border: 1px solid #fff;
  padding: 0.5rem 0.7rem;
  width: 50vw;
}
#about .container .details .education span {
  color: #C0C0C0;
  font-style: italic;
}
#about .container .details .experience {
  border: 1px solid #fff;
  padding: 0.5rem 0.7rem;
  width: 50vw;
}
#about .container .details .experience span {
  color: #C0C0C0;
  font-style: italic;
}
#about .container .about-text {
  text-align: center;
  width: 70vw;
}
#about .container .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2rem;
}
#about .container .skills .allskills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
#about .container .skills .allskills .skill {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5rem;
  border: 1px solid #ffff00;
  padding: 0.5rem 0.7rem;
}
#about .container .skills .allskills .skill img {
  width: 2rem;
  height: 2rem;
}
#about .container .skills .allskills .skill:hover {
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 10px rgba(255, 255, 0, 0.5);
}

#projects {
  padding: 2rem 5rem;
  margin: 0 auto;
  overflow: hidden;
  height: auto;
  min-height: calc(100vh - 5rem);
  width: 100%;
  max-width: auto;
}
#projects .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2rem;
}
#projects .container .allprojects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
#projects .container .allprojects .project {
  padding: 8rem;
  border: 1px solid #ffff00;
}

#contact {
  padding: 2rem 5rem;
  margin: 0 auto;
  overflow: hidden;
  height: auto;
  min-height: calc(100vh - 5rem);
  width: 100%;
  max-width: auto;
}
#contact .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2rem;
}
#contact .container .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;
  width: 100%;
}
#contact .container .form .name, #contact .container .form .email, #contact .container .form .msg {
  width: 45%;
  font-size: medium;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: rgb(40, 40, 40);
}
#contact .container .links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5rem;
}
#contact .container .links .link {
  width: 2rem;
  height: 2rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2rem;
  padding: 2rem 2rem;
  margin: 0 auto;
  overflow: hidden;
  height: 4rem;
  min-height: auto;
  background: #282828;
  font-size: 0.8rem;
}

/* WebKit Tarayıcıları (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px; /* Scrollbar genişliği */
}

::-webkit-scrollbar-track {
  background: #222; /* Scrollbar arkaplanı (koyu gri) */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ffff00; /* Scrollbar rengi */
  border-radius: 10px;
  border: 2px solid #222; /* Kenarlık efekti */
}
::-webkit-scrollbar-thumb:hover {
  background: #cccc00; /* Hover olduğunda biraz koyulaşır */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffff00 #222; /* (Thumb, Track) */
}

/*# sourceMappingURL=main.css.map */
